nav.navbar
  .container
    ul.nav
      li.active
        a(href='/') Home
      li
        a(href='/musician') Musician
      li
        a(href='/teacher') Teacher
      li
        a(href='/recording-and-mixengineer') Recording &amp; Mix Engineer
      li
        a(href='/contact') Contact