.social
  a.fa.fa-instagram(href='//www.instagram.com/matthewthemusicman', target='_blank')
  a.fa.fa-linkedin(href='//www.linkedin.com/in/matthewjheron', target='_blank')
  a.fa.fa-twitter(href='//www.twitter.com/matthewjheron', target='_blank')
  a.fa.fa-facebook(href='//www.facebook.com/PaintingPaisleyRecordings', target='_blank')
  a.fa.fa-soundcloud(href='//www.soundcloud.com/paintingpaisleyrecordings', target='_blank')